{include file="public/header"}
<div class="main-wrap">
    <blockquote class="layui-elem-quote">
        <p>本后台管理基于LayUI开发 ,支持所有LayUI组件.</p>
        <p>LayUI文档地址：<a href="http://www.layui.com/doc" target="_blank">http://www.layui.com/doc</a> </p>
        <p>LayUI演示地址：<a href="http://www.layui.com/demo" target="_blank">http://www.layui.com/demo</a></p>
        <p>管理员博客地址：<a href="http://www.qinlinhui.cn" target="_blank">http://www.qinlinhui.cn</a></p>
    </blockquote>
    <blockquote class="layui-elem-quote fhuaui-tip">看世间纷纷扰扰，唯我独清；问世间繁繁华华，愿君共明 </blockquote>
    <blockquote class="layui-elem-quote fhuaui-tip">命里无时终须有，命里无时莫强求</blockquote>
    <fieldset class="layui-elem-field">
        <legend>更新日志</legend>
        <div class="layui-field-box">
            <div class="admin-log-list clearfix">
                <div class="admin-log-span admin-log-avatar">
                    <a class="avatar">
                        <img avatar src="http://q.qlogo.cn/qqapp/101235792/3DC0A1C44E35263F3C44E95D0BEBF7DD/100" />
                    </a>
                </div>
                <div class="admin-log-span admin-log-title">
                    <h2>FlowAdmin后台管理系统</h2>
                    <p>全新视觉，简约界面乐享体验<span>|</span><a class="logck" href="javascript:;">V5.0.0 (点我查看功能)</a></p>
                    <div class="admin-log-content">
                        <h2>功能介绍</h2>
                        <p>1.项目管理</p>
                        <p>2.活动管理</p>
                        <p>3.广告设置</p>
                        <p>4.日志管理</p>
                        <p>5.数据库管理</p>
                        <p>6.系统管理,一套比较适用的权限管理系统</p>
                    </div>
                </div>
                <div class="admin-log-span admin-log-date">
                    <p>2017-07-07 更新</p>
                </div>
            </div>
        </div>
    </fieldset>
</div>
{include file="public/footer"}
<script src="__js__/log.js"></script>

