{include file="public/header" /}
<div class="main-wrap">
    <blockquote class="layui-elem-quote fhui-admin-main_hd">
        <h2>修改分类</h2>
    </blockquote>
    <form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">
    <input type="hidden" name="c_id" value="{$c_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input name="class_name" autocomplete="off" value="{$ClassData['class_name']}" placeholder="菜单名称" class="layui-input" type="text" required  lay-verify="class_name" style="width:50%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input name="sort" lay-verify="number" autocomplete="off" value="{$ClassData['sort']}" placeholder="输入顺序" class="layui-input" type="text" style="width: 50%;">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
            {if $ClassData['start'] == 1}
                <input checked="" name="start" lay-skin="switch" lay-filter="switchTest" title="是"  type="checkbox">
            {else/}
                <input name="start" lay-skin="switch" lay-filter="switchTest" title="是"  type="checkbox">
            {/if}
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:20%;">

            <a class="layui-btn layui-btn-small do-action" data-type="doGoBack" style="height:37px;line-height: 37px;" data-href=""><i class="fa fa-mail-reply"></i>返回上一页</a>
            <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href={:url('class_update')}>提交</button>
        </div>

    </form>
</div>
{include file="public/footer" /}
<script>
    layui.use(['form','common'], function(){
        var $ = layui.jquery
                ,common=layui.common
        ,form = layui.form();
        //自定义验证规则
        form.verify({
            pid: function(value){
                if(value == ""){
                    return '菜单分类不能为空';
                }
            }
            ,class_name:function(value){
                if(value == ""){
                    return '菜单名称不能为空';
                }
            }

        });

        //监听提交
        form.on('submit(add-role)', function(data){
            var sub = true;
            var url = $(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (data) {
                            if (data.state == 1) {
                               // location.href = rturl;
                                common.layerAlertS(data.msg, '提示');
                                window.location.href = "{:url('class_list')}";
                            }
                            else {
                                common.layerAlertE(data.msg, '提示');
                            }
                        },
                        beforeSend: function () {
                        //    // 一般是禁用按钮等防止用户重复提交
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        //complete: function () {
                        //    $(sbbtn).removeAttr("disabled");
                        //},
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }

            return false;
        });
    });
</script>
