{include file="public/header"/}
<form action="" method="post">
    <input type="hidden" name="id" value="1">
    <table class="table table-striped table-bordered table-hover table-condensed
	">
        <tbody><tr class="b-group">
            <th width="10%">
                <label>
                    后台首页 <input type="checkbox" name="rule_ids[]" value="6" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                欢迎界面 <input type="checkbox" name="rule_ids[]" value="96" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                        </td>
                    </tr>
                    </tbody></table>					</td>
        </tr>				<tr class="b-group">
            <th width="10%">
                <label>
                    系统设置 <input type="checkbox" name="rule_ids[]" value="20" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                菜单管理 <input type="checkbox" name="rule_ids[]" value="1" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                            <label>
                                 菜单列表 <input type="checkbox" name="rule_ids[]" value="2" checked="checked">
                            </label><label>
                             添加菜单 <input type="checkbox" name="rule_ids[]" value="3" checked="checked">
                        </label><label>
                             修改菜单 <input type="checkbox" name="rule_ids[]" value="4" checked="checked">
                        </label><label>
                             删除菜单 <input type="checkbox" name="rule_ids[]" value="5" checked="checked">
                        </label><label>
                             菜单排序 <input type="checkbox" name="rule_ids[]" value="64" checked="checked">
                        </label>									</td>
                    </tr>
                    </tbody></table>					</td>
        </tr>				<tr class="b-group">
            <th width="10%">
                <label>
                    权限控制 <input type="checkbox" name="rule_ids[]" value="21" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                权限管理 <input type="checkbox" name="rule_ids[]" value="7" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                            <label>
                                 添加权限 <input type="checkbox" name="rule_ids[]" value="8" checked="checked">
                            </label><label>
                             修改权限 <input type="checkbox" name="rule_ids[]" value="9" checked="checked">
                        </label><label>
                             删除权限 <input type="checkbox" name="rule_ids[]" value="10" checked="checked">
                        </label>									</td>
                    </tr>
                    </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            用户组管理 <input type="checkbox" name="rule_ids[]" value="11" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                        <label>
                             添加用户组 <input type="checkbox" name="rule_ids[]" value="12" checked="checked">
                        </label><label>
                         修改用户组 <input type="checkbox" name="rule_ids[]" value="13" checked="checked">
                    </label><label>
                         删除用户组 <input type="checkbox" name="rule_ids[]" value="14" checked="checked">
                    </label><label>
                         分配权限 <input type="checkbox" name="rule_ids[]" value="15" checked="checked">
                    </label><label>
                         添加成员 <input type="checkbox" name="rule_ids[]" value="16" checked="checked">
                    </label><label>
                         设置为管理员 <input type="checkbox" name="rule_ids[]" value="123" checked="checked">
                    </label><label>
                         添加管理员 <input type="checkbox" name="rule_ids[]" value="124" checked="checked">
                    </label><label>
                         修改管理员 <input type="checkbox" name="rule_ids[]" value="125" checked="checked">
                    </label>									</td>
                </tr>
                </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            管理员列表 <input type="checkbox" name="rule_ids[]" value="19" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                    </td>
                </tr>
                </tbody></table>					</td>
        </tr>				<tr class="b-group">
            <th width="10%">
                <label>
                    文章管理 <input type="checkbox" name="rule_ids[]" value="126" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                文章列表 <input type="checkbox" name="rule_ids[]" value="127" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                            <label>
                                 添加文章 <input type="checkbox" name="rule_ids[]" value="128" checked="checked">
                            </label><label>
                             文章图片上传 <input type="checkbox" name="rule_ids[]" value="149" checked="checked">
                        </label><label>
                             文章文件上传 <input type="checkbox" name="rule_ids[]" value="151" checked="checked">
                        </label><label>
                             编辑文章 <input type="checkbox" name="rule_ids[]" value="152" checked="checked">
                        </label><label>
                             得到文章二级菜单 <input type="checkbox" name="rule_ids[]" value="155" checked="checked">
                        </label><label>
                             解压文件 <input type="checkbox" name="rule_ids[]" value="159" checked="checked">
                        </label><label>
                             得到文章一级菜单 <input type="checkbox" name="rule_ids[]" value="160" checked="checked">
                        </label>									</td>
                    </tr>
                    </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            文章分类 <input type="checkbox" name="rule_ids[]" value="136" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                        <label>
                             添加分类 <input type="checkbox" name="rule_ids[]" value="146" checked="checked">
                        </label><label>
                         编辑分类 <input type="checkbox" name="rule_ids[]" value="147" checked="checked">
                    </label><label>
                         删除分类 <input type="checkbox" name="rule_ids[]" value="148" checked="checked">
                    </label><label>
                         文章删除 <input type="checkbox" name="rule_ids[]" value="153" checked="checked">
                    </label>									</td>
                </tr>
                </tbody></table>					</td>
        </tr>				<tr class="b-group">
            <th width="10%">
                <label>
                    前端设置 <input type="checkbox" name="rule_ids[]" value="129" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                友情链接 <input type="checkbox" name="rule_ids[]" value="130" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                            <label>
                                 添加 <input type="checkbox" name="rule_ids[]" value="138" checked="checked">
                            </label><label>
                             编辑 <input type="checkbox" name="rule_ids[]" value="140" checked="checked">
                        </label><label>
                             删除 <input type="checkbox" name="rule_ids[]" value="141" checked="checked">
                        </label>									</td>
                    </tr>
                    </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            联系我们 <input type="checkbox" name="rule_ids[]" value="131" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                        <label>
                             添加 <input type="checkbox" name="rule_ids[]" value="156" checked="checked">
                        </label><label>
                         编辑 <input type="checkbox" name="rule_ids[]" value="157" checked="checked">
                    </label><label>
                         删除 <input type="checkbox" name="rule_ids[]" value="158" checked="checked">
                    </label>									</td>
                </tr>
                </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            每日推荐 <input type="checkbox" name="rule_ids[]" value="132" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                    </td>
                </tr>
                </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            轮播设置 <input type="checkbox" name="rule_ids[]" value="137" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                    </td>
                </tr>
                </tbody></table><table class="table table-striped table-bordered table-hover table-condensed">
                <tbody><tr class="b-group">
                    <th width="10%">
                        <label>
                            前端导航设置 <input type="checkbox" name="rule_ids[]" value="142" checked="checked" onclick="checkAll(this)">
                        </label>
                    </th>
                    <td>
                        <label>
                             添加 <input type="checkbox" name="rule_ids[]" value="143" checked="checked">
                        </label><label>
                         编辑 <input type="checkbox" name="rule_ids[]" value="144" checked="checked">
                    </label><label>
                         删除 <input type="checkbox" name="rule_ids[]" value="145" checked="checked">
                    </label>									</td>
                </tr>
                </tbody></table>					</td>
        </tr>				<tr class="b-group">
            <th width="10%">
                <label>
                    会员管理 <input type="checkbox" name="rule_ids[]" value="133" checked="checked" onclick="checkAll(this)">
                </label>
            </th>
            <td class="b-child">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody><tr class="b-group">
                        <th width="10%">
                            <label>
                                会员列表 <input type="checkbox" name="rule_ids[]" value="134" checked="checked" onclick="checkAll(this)">
                            </label>
                        </th>
                        <td>
                        </td>
                    </tr>
                    </tbody></table>					</td>
        </tr>		<tr>
            <th></th>
            <td>
                <input class="btn btn-success" type="submit" value="提交">
            </td>
        </tr>
        </tbody>
    </table>
</form>
{include file="public/footer"/}