{include file="public/header" /}
<div class="main-wrap">
    <blockquote class="layui-elem-quote fhui-admin-main_hd">
        <h2>编辑菜单</h2>
    </blockquote>
    <form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">

        <div class="layui-form-item">
            <label class="layui-form-label">默认顶级</label>
            <div class="layui-input-inline" style="width: 30%">
                <select data-val="true" lay-filter="pid" name="pid"  lay-verify="required">
                    <option selected="selected" value="0">默认顶级</option>
                    {foreach name="admin_rule" item="v"}
                    <option value="{$v.id}" {if $v.id eq $menu['pid']}selected="selected"{/if}>
                        {if $v.pid eq 0}{else}{if $v.lvl eq 2}　├{else}　　├{/if}{/if}{$v.title}
                    </option>

                    {/foreach}
                </select>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input name="title" autocomplete="off" value="{$menu.title}" placeholder="菜单名称" class="layui-input" type="text" required  lay-verify="title">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点</label>
            <div class="layui-input-block">
                <input name="name" autocomplete="off" value="{$menu.name}" placeholder="模块/控制器/方法" class="layui-input" type="text" required  lay-verify="required">
                <span>如：admin/user/adduser (一级节点添加“#”即可)</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">css样式</label>
            <div class="layui-input-block">
                <input name="css" autocomplete="off" value="{$menu.css}" placeholder="输入菜单名称前显示的CSS样式" class="layui-input" type="text">
                <span>如fa fa-user</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input name="sort" lay-verify="number" autocomplete="off" value="{$menu.sort}" placeholder="输入顺序" class="layui-input" type="text" style="width: 50%;">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input checked="checked" name="status" value="{if $menu.status eq 1}1{else}0{/if}" lay-skin="switch" lay-filter="switchTest" title="是" type="checkbox">
            </div>
        </div>
        <div class="layui-form-item">

            <a class="layui-btn layui-btn-small do-action" data-type="doGoBack" data-href=""><i class="fa fa-mail-reply"></i>返回上一页</a>
            <input type="hidden" name="id" value="{$menu.id}">
            <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href={:url('edit_rule')}>提交</button>
        </div>

    </form>
</div>
{include file="public/footer" /}
<script>
    layui.use(['form','common'], function(){
        var $ = layui.jquery
                ,common=layui.common
                ,form = layui.form();
        //自定义验证规则
        form.verify({
            pid: function(value){
                if(value == ""){
                    return '菜单分类不能为空';
                }
            }
            ,title:function(value){
                if(value == ""){
                    return '菜单名称不能为空';
                }
            }

        });

        //监听提交
        form.on('submit(add-role)', function(data){
            var sub=true;
            var url=$(this).data('href');
            var btn=$(this);
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (data) {
                            if (data.code == 1) {
                                // location.href = rturl;

                                common.layerAlertS(data.msg, '提示');
                                window.location.href="{:url('menu/index')}";

                            }
                            else {
                                common.layerAlertE(data.msg, '提示');
                            }
                        },
                        beforeSend: function () {
                            //    // 一般是禁用按钮等防止用户重复提交
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        /*complete: function () {
                            $(data.elem).removeAttr("disabled");
                        },*/
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }

            return false;
        });
    });
</script>
